{% extends 'main/template.html' %}
{% load static %}

{% block style %}
<style>
    body {
        background-color : #F9EBDE;
        color : #815854;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        height: 100vh; 
    }

    .styled-button {
        background-color:#815854;
        color: #F9EBDE;
        padding: 15px 30px;
        font-size: 20px;
        transition: 0.3s;
        border: none;
        border-radius: 5px;
    }

    .styled-button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class = "container" style = "width:100%;">
    <div class = "row justify-content-center">
        <h1 style = "font-size:130px;">뭐라고 불러?</h1>
    </div>
    <div class = "row justify-content-center">
        <h1 style = "font-size:50px;">궁금한 가족의 호칭을 쉽게 찾아보세요!</h1>
    </div>
    <div class = "row justify-content-center">
        <a href = "{% url 'main:find' %}">
        <button class = "styled-button"> 시작하기 </button>
        </a>
    </div>

</div>
{% endblock %}
